code {
	padding: 0 5px;
}
:root {
	font-family:
		'Nimbus Sans',
		-apple-system,
		BlinkMacSystemFont,
		'Avenir Next',
		Avenir,
		'Nimbus Sans L',
		Roboto,
		'Noto Sans',
		'Segoe UI',
		Arial,
		Helvetica,
		'Helvetica Neue',
		sans-serif;
}

button,
.button {
	display: inline-flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
}
